body {
    margin: 0;
}

.titular {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-size: x-large
}

.sub-titular {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    color: lightgray;
    text-align: center;
    font-size: large
}

.s2-titular {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    color: gray;
    text-align: center;
    font-size: medium
}

.s3-titular {
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    color: rgb(128, 128, 128);
    text-align: center;
    font-size: x-small
}

.back {
    margin-bottom: 0;
    background-color: black;
    color: rgb(144, 0, 240);
    text-align: center;
}


body {
    background-color: black;
}

.options {
    margin-bottom: 0;
    background-color: black;
    color: rgb(0, 232, 240);
    text-align: center;
}

.options:hover {
    color: rgb(240, 164, 0);
    font-family: 'Cambria'
}


.controls-info {
    margin-bottom: 0;
    background-color: black;
    color: rgb(0, 232, 240);
    text-align: center;
}

.controls-info:hover {
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
    /* color: rgb(240, 108, 0); */
}


.tips-info {
    margin-bottom: 0;
    color: rgb(0, 232, 240);
    text-align: center;
}

.tips-info::marker {
    color: gray
}


div {
    background-color: gray;
    width: 40%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.game-screen {
    margin-left: auto;
    margin-right: auto;
}

#score {
    width: fit-content;
    border: 3px solid #73AD21;
    color: #73AD21;
    margin: auto;

}

#wide {
    width: 100vw;
    height: 1px;
    z-index: 999;
    position: absolute;
}